* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    background-color: brown;
    padding: 10px;
    border: 2px solid black;
}

.flex-container div {
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    border: 2px solid black;
}